html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', serif;
}

.iphoneX {
  background-image: url('../img/floor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}



.phone {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hvr-buzz-out 1.8s linear infinite;
}

.quote {
  margin-top: 7rem;
  text-align: center;
}

.quotation {
  font: bold 3rem arial, sans-serif;
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, .6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.screen {
  width: 25rem;
  height: 50rem;
  border-radius: 2.5rem;
  box-shadow: -3.5rem 3.5rem 5rem rgba(0, 0, 0, 1);
  transition: .5s;
  /* background-image: url('../img/book-2.jpg'); */
  background-size: cover;
  cursor: pointer;
  position: absolute;
  animation: bg-changer 30s ease-in infinite;
  perspective: 150rem;
}

@keyframes bg-changer {

  0% {
    background-image: url('../img/book-1.jpg');
  }

  25% {
    background-image: url('../img/book-2.jpg');
  }

  50% {
    background-image: url('../img/book-5.jpg');
  }

  75% {
    background-image: url('../img/book-3.jpg');
  }

  100% {
    background-image: url('../img/book-4.jpg');
  }


}

.screen:hover {
  transform: translate(20px, -20px);
  box-shadow: -5rem 5rem 10rem rgba(0, 0, 0, 1);
}

.punch-cam {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  box-shadow: inset 0 0 1.5rem 0 rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.punch-outer {
  top: 1.2rem;
  left: 12%;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
}

.punch-middle {
  width: 1.1rem;
  height: 1.1rem;
  top: 1.5rem;
  left: 12%;
  background-image: linear-gradient(to right bottom, #2FB2DC, #2B7FC0, #5EA2D2);
  border: 1px solid #333333;
}

.punch-inner {
  width: 6px;
  height: 6px;
  top: 1.76rem;
  left: 12%;
  background-image: linear-gradient(to right bottom, #292929, #303030, #404040, #565656);
  border: 1px solid #333333;
}

.icon-top {
  position: absolute;
  top: 1.5rem;
  color: #fff;
  font-size: 1rem;
}

.icon-batt {
  right: 1.5rem;
}

.icon-wifi {
  right: 3.5rem;
}

.heading {
  font-size: 3rem;
  color: #fff;
  font-weight: 200;
  text-align: center;
  margin-top: 6rem;
}

.heading-main {
  display: block;
}

.heart {
  font-size: 2rem;
  color: red;
}

.heading-sub {
  display: block;
  font-size: 1.8rem;
}

.waiting-section {
  margin-top: 80%;
  display: flex;
  justify-content: space-around;
}

.clock, .sms {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  font-weight: 400;
  font-size: 1.4rem;
}

.call-section {
  display: flex;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.5rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.reject-circle {
  background-color: red;
}

.accept-circle {
  background-color: #01E339;
}

.call-text {
  margin-bottom: 0;
  margin-top: 2px;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

.coded, a {
  /* margin-bottom: 5rem; */
  font: bold .8rem arial, sans-serif;
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, .6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.name-heading  a {
  font-size: 1.5rem;
  text-decoration: none;
}


/* Animation */
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  20% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  30% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  40% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  50% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }

  60% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  70% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }

  80% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  90% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@media screen and (max-width: 600px) {
  .iphoneX {
    padding-top: 15rem;
  }
  .quote {
    margin-top: 15rem;
  }
}

@media screen and (max-width: 400px) {
  .iphoneX {
    padding-top: 30rem;
  }
  .quote {
    margin-top: 25rem;
  }
}
